<a href="https://colab.research.google.com/github/HubertusHami/Final_Project-DSC/blob/main/Machine_Learning_Pemula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

In [3]:
os.listdir('sample_data')

['anscombe.json',
 'README.md',
 'california_housing_test.csv',
 'california_housing_train.csv',
 'mnist_train_small.csv',
 'mnist_test.csv']

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('sample_data/california_housing_train.csv')

In [8]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [9]:
str(df)

'       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \\\n0        -114.31     34.19                15.0       5612.0          1283.0   \n1        -114.47     34.40                19.0       7650.0          1901.0   \n2        -114.56     33.69                17.0        720.0           174.0   \n3        -114.57     33.64                14.0       1501.0           337.0   \n4        -114.57     33.57                20.0       1454.0           326.0   \n...          ...       ...                 ...          ...             ...   \n16995    -124.26     40.58                52.0       2217.0           394.0   \n16996    -124.27     40.69                36.0       2349.0           528.0   \n16997    -124.30     41.84                17.0       2677.0           531.0   \n16998    -124.30     41.80                19.0       2672.0           552.0   \n16999    -124.35     40.54                52.0       1820.0           300.0   \n\n       population  households  median_income  median_house_value  \n0          1015.0       472.0         1.4936             66900.0  \n1          1129.0       463.0         1.8200             80100.0  \n2           333.0       117.0         1.6509             85700.0  \n3           515.0       226.0         3.1917             73400.0  \n4           624.0       262.0         1.9250             65500.0  \n...           ...         ...            ...                 ...  \n16995       907.0       369.0         2.3571            111400.0  \n16996      1194.0       465.0         2.5179             79000.0  \n16997      1244.0       456.0         3.0313            103600.0  \n16998      1298.0       478.0         1.9797             85800.0  \n16999       806.0       270.0         3.0147             94600.0  \n\n[17000 rows x 9 columns]'

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
data=[[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [12]:
scaler=MinMaxScaler()

In [13]:
scaler.fit(data)

MinMaxScaler()

In [14]:
print(scaler.transform(data))

[[0.25806452 0.45454545]
 [1.         1.        ]
 [0.         0.        ]
 [0.08064516 0.13636364]
 [0.16129032 0.27272727]]

In [15]:
from sklearn import preprocessing

In [16]:
data=[[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [19]:
scaler=preprocessing.StandardScaler().fit(data)

In [21]:
data=scaler.transform(data)

In [22]:
data

array([[-0.11638732,  0.23521877],
       [ 1.94277296,  1.80334389],
       [-0.83261698, -1.07155217],
       [-0.60879521, -0.67952089],
       [-0.38497344, -0.28748961]])

In [28]:
from sklearn.model_selection import train_test_split

In [33]:
X_data=range(10)

In [34]:
y_data=range(10)

In [35]:
print("random_state  ditentukan")

random_state  ditentukan

In [39]:
for i in range(3):
  X_train, X_test, y_train, y_test=train_test_split(X_data, y_data, test_size=0.3, random_state=42)
  print(y_test)

[8, 1, 5]
[8, 1, 5]
[8, 1, 5]

In [41]:
print("random_state tidak ditentukan")
for i in range(3):
  X_train, X_test, y_train, y_test=train_test_split(X_data, y_data, test_size=0.3, random_state=None)
  print(y_test)

random_state tidak ditentukan
[9, 1, 6]
[9, 1, 4]
[4, 8, 3]

In [42]:
import sklearn

In [43]:
from sklearn import datasets

In [44]:
#load iris data
iris=datasets.load_iris()

In [45]:
#memisahkan atribut dan label pada datsets
x=iris.data
y=iris.target

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
#membagi datasets menjadi training dan testing
x_train,x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=1)

In [49]:
#menghitung panjang jumlah data pada x_test
len(x_test)

30